[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
tweepy = "*"
pylint = "*"
isort = "*"
langchain-ollama = "*"
langchain = "*"
langchain-community = "*"
langchainhub = "*"
langchain-openai = "*"
dotenv = "*"
black = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
